<main>
    <div class="AccueilBox1">
        <h1>Qu'est-ce qu'ERGIA ?</h1>
        <p>
            ERGIA (Évaluateur de Résumés Générés par IA) est un site permettant de s’inscrire ou de créer des campagnes d’annotations. Le but de ces campagnes est de vérifier l'efficacité de résumés de textes faits par des IAs en les comparant à des résumés réalisés par des humains.
        </p>
        <p>
            Ce site a été développé par un groupe de 5 étudiants dans le cadre d'une SAé pour démontrer leurs compétences.
        </p>
        
    </div>

    <div class="wrapperAccueil">
        <div class="schemaImg">
            <img alt="Schéma illustrant le fonctionnement de l'application ERGIA" src="/assets/images/Schema.png">
        </div>
        <div class="AccueilBox3">
            <h1>Fonctionnement des campagnes</h1>
            <p>
                Un utilisateur doit d’abord créer une campagne d’annotation en y important un corpus contenant des textes, des résumés écrits par des humains et des résumés générés par IA.
            </p>
            <p>
                Après création, les utilisateurs peuvent s’y inscrire. Une fois que le créateur juge le nombre de participants suffisant, la campagne peut démarrer.
            </p>
            <p>
                Les campagnes comportent deux étapes : la première concerne l'annotation des résumés humains avec des SCUs (idées clés), et la seconde, l'annotation des résumés IA, où un algorithme pyramide compare les SCUs des deux types de résumés.
            </p>
            <p>
                Une fois les deux étapes terminées, le créateur vérifie les conflits identifiés par l’algorithme.
            </p>
        </div>
    </div>
</main>